<!-- partials/tablePoints.ejs -->
<div class="mt-4 overflow-x-auto rounded-lg shadow-md bg-base-100">
  <table id="main-table" class="display stripe hover compact w-full">
    <thead>
      <tr>
        <th>Cat</th>
        <th>Nom</th>
        <th>Voir</th>
        <th>Modifier</th>
        <th>Effacer</th>
      </tr>
    </thead>
   <tbody>
  <!-- le righe vengono inserite da pointUtils.js via DataTables -->
</tbody>

  </table>
</div>


