<%- include('layout/header') %>

<div class="flex justify-center items-center min-h-screen">
<div class="card shadow-lg w-full max-w-md p-6 bg-white mt-10">
  <h2 class="text-xl font-semibold mb-4">Inscription rapide</h2>
  <%- include('partials/signup-form', { role: "field" }) %>
</div>
</div>
    <%- include('layout/footer') %>