<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ma zone</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
  <link rel="stylesheet" href="/css/popupMod.css">
  <link rel="stylesheet" href="/style.css">
  
</head>
<body>

<nav class="navbar custom-nav navbar-expand-lg navbar-light bg-light py-0">
  <div class="container">
    <div class="d-flex w-100 align-items-center">
      <!-- Logo a sinistra su mobile -->
      <a href="/" class="navbar-brand">Pike</a>
         <!-- Hamburger a destra -->
      <button class="navbar-toggler  ms-auto" 
              data-bs-target="#my-nav" 
              data-bs-toggle="collapse" 
              aria-controls="my-nav"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  

    <div id="my-nav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
    
      <% if (user) { %>
  <li class="nav-item d-flex align-items-center">
    <span class="nav-link text-dark">
      Bienvenue, <strong><%= user.email %></strong>
    </span>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-sm btn-outline-secondary" href="/logout">
      Se déconnecter
    </a>
  </li>
<% } else { %>
  <li class="nav-item active">
    <a class="nav-link" href="/login">
      <i class="fas fa-sign-in-alt me-1"></i>Log in
    </a>
  </li>

<% } %>

      
      </ul>
    </div>
  </div>
</nav>